  name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run basic check
        run: |
          echo "Running CI checks..."
          ls
      - name: Fail if forbidden word exists
        run: |
          if grep -R "password" .; then
            echo "❌ Forbidden word 'password' found"
            exit 1
          else
            echo "✅ No forbidden words found"
          fi    
# trigger test
